.sendQueryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0099c2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.icon {
    font-size: 0.8rem;
    color: white;
}

.text {
    font-size: 0.8rem;
    color: lightgray;
}